/*imported fonts*/
@font-face {
    font-family:"God of War";
    src: url(fonts/GODOFWAR.TTF);
}

/*imported fonts*/
@font-face {
    font-family:"Ragnorak";
    src: url(fonts/Berserker-Regular.ttf);
}

/*imported fonts*/
@font-face {
    font-family:"Norse Bold";
    src: url(fonts/NorseBold-2Kge.otf);
}

/*imported fonts*/
@font-face {
    font-family:"Norse";
    src: url(fonts/Norse-KaWl.otf);
}

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

/*smooth scrolling*/
html{
    scroll-behavior: smooth;

}

/*ice background image*/
body{
    background-image: url("Images/ice-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*background gif*/
.bgimage{
    background-image: url("Images/logo\ reveal\ cropped.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
}

/*navigation bar before scrolling down*/
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(0, 0, 0, 0), rgba(0, 0, 0, 0);
    margin-top: 0px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: 0.3s;
}

/*navigation link*/
.nav-link{
    margin: auto;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 20%;
    font-family: 'Nunito', sans-serif;    
    font-size: 25px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

/*navigation after scrolling down*/
.sticky .nav-link{
    padding: 8px;
    font-size: 17px;
}

/*navigation after scrolling down*/
.sticky{
    background-image: linear-gradient(to bottom right, #729bac, #345677);
    box-shadow: 0px 2px 10px black;
        position: fixed;
}

/*nav link transition*/
.nav-link{
    transition: 0.5s ease;
}

/*nav link hover effect*/
.nav-link:hover{
    transition: 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0);
}

/*nav link active effect*/
.nav-link:active{
    transition: 0.2s ease;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0);
}

/*container for maint content*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main content of page*/
.main-content{
    margin: 50px 0px;
    padding: 0px;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px black;
}

/*.sect div*/
.sect{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

/*title for each section*/
.sect-title{
    font-family: "Norse Bold";
    font-size: 50px;
    
}

/*desription for each section*/
.desc{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    width: 700px;
    margin: auto;
}


/*ABOUT STYLINGS*/
/*about section*/
#about{
    margin: 20px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to top right, rgb(27, 56, 69),#082d4a, #5380a2, #96c2e4) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
    margin-bottom: 150px;
    margin-top: 10px;
}

/*about description*/
#about-desc{
    font-size: 17px;
}

/*SANTA MONICA STUDIOS STYLINGS*/
/*Santa monica section*/
#sta-monica{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 150px;
}

/*Santa Monica details*/
.monica-dets{
    position: relative;
    top: 0px;
    margin-left: 400px;
}

/*Santa Monica question*/
#sta-monica h3{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 10px;
}
/*Santa Monica paragraph*/
#sta-monica p{
    font-family: 'Poppins', sans-serif;
    font-size: 12.9px;
    text-align: justify;
    margin: auto;
}


/*Santa Monica logo image*/
.monica-logo img{
    position: relative;
    top: 0px;
    width: 260px;
    float: left;
}

/*Santa Monica logo div*/
.monica-logo{
    margin: 0px;
    position: relative;
    top: 22px;
    float: left;
}

/*Santa Monica leaders and crew images div*/
.monica-images{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

/*Santa Monica leaders and crew div*/
.monica-crew, .monica-leaders{
    width: 50%;
}

/*Santa Monica leaders and crew images*/
.monica-crew img, .monica-leaders img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    height: 250px;
}

.monica-crew{
    margin-right: 30px;
}

/*GAMES STYLINGS*/
/*games section*/
#games{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    padding: 0;
}

/*each game's div*/
.games-box{
    margin: 15px;
    background-image: linear-gradient(to bottom right, rgb(11, 35, 49), #728fac,rgb(0, 147, 245));
    border-radius: 12px;
    width: 350px;
    display: inline-block;
    box-shadow: 0 0 10px black;
    transition: 0.1s ease;
}

/*game div hover effect*/
.games-box:hover{
    transform:scale(1.03);
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 20px black;
}

/*game div active effect*/
.games-box:active{
    opacity: 0.8;
    transform:scale(1.05);

}

/*game title*/
.games-title{
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0px;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 18px;
    word-spacing: 3px;
    text-align: left;
}

/*year in games-box*/
.year{
    float: right;
    color: rgb(41, 41, 41);
}

/*console in games-box*/
.console{
    position: absolute;
    left: 5px;
    bottom: 50px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 5px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

/*image in game-box*/
.game-image{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}


/*SCROLL ANIMATIONS*/

/*slide animation before*/
.slide-animation{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-28%);
    transition: 1s ease;
}

/*slide animation after*/
.slide{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/*fade animation before*/
.fade-animation{
    opacity: 0;
    transition: 2s ease;
}

/*fade animation after*/
.fade{
    opacity: 1;
}

/*slide animation before*/
.slide-animation2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(28%);
    transition: 1s ease;
}

/*slide animation after*/
.slide2{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

/*delay for each image gallery in community section*/
.art-image:first-child{
    transition-delay:200ms ;
}

.art-image:last-child{
    transition-delay:200ms ;
}

/*delay for each game-box child*/
.games-box:nth-child(2){
    transition-delay: 400ms;
}

.games-box:nth-child(3){
    transition-delay: 200ms;

}

.games-box:nth-child(5){
    transition-delay: 400ms;

}

.games-box:nth-child(6){
    transition-delay: 200ms;

}

.games-box:nth-child(8){
    transition-delay: 200ms;

}

/*MERCH STYLINGS*/

/*merch section*/
#merch{
    margin-top: 150px;
    margin-bottom: 150px;
}

/*merch div*/
.merch{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*carousel*/
.merch .carousel{
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
}

/*carousel dragging*/
.carousel.dragging{
    scroll-behavior: auto;
    cursor: grab;
}

/*merch image & figcaption*/
figure{
    display: inline-block;
    
}

/*figaption for image*/
figcaption{
    text-align: center;
}

/*link for merch*/
figcaption a{
    text-decoration: none;
    color: black;
    font-family: "Norse bold";
    font-size: 20px;
    transition: 0.3s ease;
}

/*figcaptoin hover effect*/
figcaption a:hover{
    text-decoration: underline;
}

/*image of merch*/
.carousel img{
    height: 300px;
    object-fit: cover;
    width: 450px;
    height: 400px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, rgb(27, 56, 69),#264963, #96c2e4) border-box;
    border-radius: 15px;
    border: 4px solid transparent;
    margin-left: 14px;
    box-shadow: 0px 0px 4px black;

}

/*right and left arrow icons*/
.merch i{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 0px;
}

/*margin on first child of merch*/
.merch i:first-child{
    left: 20px;
}

/*margin on last child of merch*/
.merch i:last-child{
    right: 20px;
}

/*responsiveness of carousel*/
@media screen and (max-width: 900px){
    .carousel img{
        width: calc(100%/2);
    }
}

@media screen and (max-width: 550px){
    .carousel img{
        width: 100%s;
    }
}

/*COMMUNITY STYLINGS*/

/*community class*/
#community{
    margin-top: 150px;
    margin-bottom: 50px;
}

/*container 2*/
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*community container*/
.com-container{
    width: 80%;
}

/*image in community*/
.com-img img{
    width: 600px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/*heading and paragraph in community*/
.com-h-p{
    width: 350px;
    position: relative ;
    bottom: 89px;
    margin-left: 10px;
}

/*heading in community*/
h4{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
}

/*description in community*/
.desc2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: left;    
}

/*button div*/
.join{
    margin-top: 50px;
}

/*join button*/
.join button{
    color: white;
    border-radius: 50px;
    border: none;
    padding: 5px 12px;
    background-color: #2b97a8;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
}

/*join button hover effect*/
.join button:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

/*join button active effect*/
.join button:active{
    transform: scale(1.1);
    opacity: 0.5;
}

/*button link*/
.join button a{
    text-decoration: none;
    color: white;
}

/*community image and text*/
.com-img, .com-h-p{
    display: inline-block;
}

/*gallery header*/
.art-h{
    text-align: left;
    font-size: 30px;
    margin-top: 50px;
}

.fan-stuff{
    width: 100%;
}

/*gallery div*/
.art {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 0px;
}

/*image column*/
.art-image {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
/*gallery images*/
.art-image  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, rgb(27, 56, 69),#264963, #96c2e4) border-box;
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

/*responsive gallery*/
@media screen and (max-width: 800px) {
    .art-image  {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .art-image  {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}

/*FOOTER STYLINGS*/

/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30vh;
    margin-bottom: 0px;
    padding: 0px;

}

/*footer class*/
.footer{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/*footer heading*/
.footer h3{
    margin-bottom: 15px;
    font-size: 15px;
}

/*footer paragraph*/
.footer p{
    font-size: 10px;
}

/*footer social media icons*/
.fa-brands{
    font-size: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 15px 8px;
    transition: 0.3s ease;
}

.fa-brands:hover{
    transform: translateY(-5px);
}

/*playstation logo*/
.footer img{
    margin: 0px;
}


/*CONTACT STYLINGS*/
form{
    font-family: 'Poppins', sans-serif;
}

/*Form header*/
form h1{ 
    font-size: 50px;
    margin: 20px 0px;
    font-family: "Norse bold";

}

/*div for form*/
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*all text input*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

/*submit button*/
.submit {
    background-color: rgb(98, 176, 198);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

/*submit button hover effcect*/
.submit:hover {
    opacity: 0.8;
}

/*submit button active effcect*/
.submit:active {
    opacity: 0.5;
}

/*submit button link*/
.submit a{
    text-decoration: none;
    color: white;
}

/*horizontal line*/
hr{
    margin: 30px 0px ;  
}

/*div for telephone, address, email, and icons*/
.details{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/*div for each icon and details*/
.dets-box{
    display: inline-block;
    width: calc(80%/3);
}

/*icons*/
.dets-box i{
    font-size: 35px;
    margin-bottom: 10px;
    color: rgb(114, 114, 172);
}

/*paragraph details*/
.dets-box p{
    font-size: 12px;
}

/*header details*/
.dets-box h3{
    font-size: 20px;
    margin-bottom: 2px;
}

/*back button*/
.back i{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: 0.3s ease;
}

/*back button hover effect*/
.back i:hover{
    transform: scale(1.1);
    opacity: 0.5;
}

/*back button active effect*/
.back i:active{
    transform: scale(1.1);
    opacity: 0.3;
}

/*container for thank you message*/
.thx-container{
    height: 100vh;
}

.thx-content{
    padding: 10px;
}

/*div for thank you message*/
.thx{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*check mark*/
.thx i{
    font-size: 200px;
    margin-bottom: 10px;
}

/*GAME PAGE STYILINGS*/

/*div for games page*/
.games-page{
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*container*/
.games-container{
    margin-top: 40px;
    margin-bottom: 10px;
}

/*image of game*/
.game-image2{
    width: 50%;
    float: left;
    margin-right: 10px;
    border-radius: 20px;
}

/*name of game*/
.games-dets h1{
    margin-bottom: 15px;
    font-family: "Norse bold";
    font-size: 65px;
}

/*details of game*/
.games-dets p{
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}

/*age rating*/
.age-rating{
    margin-top: 55px;
    margin-bottom: 0px;
}

/*differnt stylings for details of game*/
.games-dets span{
    font-weight: bold;
    margin-left: 5px;
}

.games-dets img{
    width: 100px;
}

/*buy div*/
.buy{
    background-color: black;
    padding: 10px;
    border-radius: 50px;
    width: 15.8%;
}

/*buy butoton*/
.buy button{
    color: white;
    border-radius: 50px;
    border: none;
    padding: 8px 20px;
    background-color: rgb(114, 114, 172);
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
}

/*buy button hover effect*/
.buy button:hover{
    opacity: 0.8;
}

/*buy button link*/
.buy button a{
    text-decoration: none;
    color: white;
}

/*price of game*/
.buy p{
    color: white;
    display: inline-block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*plot, trailer, and reviews div*/
.games-info{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

/*headers for info*/
.games-info h1{
    font-size: 40px;
}

/*paragraphs for info*/
.games-info p{
    width: 1065px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
}

.games-page{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*game trailer*/
.games-page iframe{
    margin-bottom: 20px;
}

/*back button*/
.games-page i{
    position: absolute;
    left: 175px;
    top:33px;
}

/*CHARACTER STYLINGS*/
#char{
    margin-top: 150px;
    margin-bottom: 150px;
}

/*all of this uses the swiper css given by Swiper Slider*/
.swiper {
    margin-top: 20px;
    width: 80%;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #a0c4de, #0f5276, #042a3e);
    border-radius: 20px;
}

/*characer details*/
.char-dets{
    text-align: center;
    width: 50%;
    float: right;
    right: 9%;
    position: relative;
    color: rgb(232, 232, 232);
    text-shadow: 0px 0px 15px black;
}
/*chracer names*/
.char-dets h1{
    font-family: "Ragnorak";
    font-size: 35px;
    margin-top: 20px;
    border-bottom: solid 2px rgb(232, 232, 232);
    padding-bottom: 5px;
}

/*character names*/
.char-dets p{
    margin-top: 15px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

/*character image*/
.swiper-slide img{
    width: 40%;
    height: 450px;
}

/*character's actor*/
.char-dets span{
    font-weight: bold;
    font-family: "Ragnorak";
    margin-left: 10px;
}

/*removes previous shadow styling*/
.swiper-3d .swiper-slide-shadow, 
.swiper-3d .swiper-slide-shadow-bottom, 
.swiper-3d .swiper-slide-shadow-left, 
.swiper-3d .swiper-slide-shadow-right, 
.swiper-3d .swiper-slide-shadow-topt{
    background-image: none;
    box-shadow: none;
}







