.swiper {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 585px;
    background-image: linear-gradient(to bottom right, #7272ac, #343477);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2)
}

.swiper-slide h1{
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    
}

.swiper-slide img {
    display: block;
    width: 100%;
}


.swiper-3d .swiper-slide-shadow, 
.swiper-3d .swiper-slide-shadow-bottom, 
.swiper-3d .swiper-slide-shadow-left, 
.swiper-3d .swiper-slide-shadow-right, 
.swiper-3d .swiper-slide-shadow-topt{
    background-image: none;
}


